*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
    background-color: ghostwhite;
}

h1 {
    color: rgb(251, 242, 192);
    font-weight: bold;
    padding: .25rem .5rem;
}

nav {
    display: block;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43281c;
}

.logo-img {
    height: 25px;
    top: 7px;
}

.order-button {
    width: 90%;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(222, 185, 147);
    padding: 10px 30px;
    border-style: none;
}

.page {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    max-width: 100%;
    grid-template-areas:
        "order payment"
        "total total";
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 1.75em;
}

.cc-box {
    display: flex;
    flex-direction: column;
    grid-area: payment;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    margin: 1em;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-table td {
    padding: 10px;
}

.header-title {
    color: #43281c;
    font-size: 1em;
    font-weight: 300;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .main-nav {
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }
  
  .logo {
    height: 25px;
    position: relative;
    top: 3px;
  }
  
  .box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .box-title {
    color: #885a2d;
    font-weight: normal;
    font-size: 16px;
  }
  
  .order {
    grid-area: order;
  }
  
  .payment {
    grid-area: payment;
  }
  
  .total {
    grid-area: total;
  }
  
  .item {
    border-bottom: 2px solid #DDB892;
    display: grid;
  
    padding: 10px 0;
    
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
      "quantity title   price"
      "quantity options price";
  
    row-gap: 8px;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  .item-quantity {
    grid-area: quantity;
  }
  
  .item-title {
    grid-area: title;
    font-weight: bold;
  }
  
  .item-price {
    grid-area: price;
    font-weight: bold;
  }
  
  .item-options-list {
    grid-area: options;
    color: #B08968;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  
  .item-option {
    margin-bottom: 5px;
  }

  .short-input {
    max-width: 200px;
  }
  
  .payment {
      max-width: 100%;
  }

  .input-group {
      position: relative;
      margin-bottom: 20px;
  }

  .user-input-label {
      color: blue;
      background-color: blanchedalmond;
      font-size: 11px;
      position: absolute;
      left: 25px;
      top: -7px;
      padding: 0 2px;
  }